<!-- <div class="tab-pane active" id="cookie-policy"> -->
<div class="mt-70">
    <article>
        <h2>Cookie policy</h2>
        <ol>
            <li>Cookies are small files that your browser automatically creates and that are stored on your device
                (laptop, tablet, smartphone, etc.) when you visit our website or use our app. Cookies do not harm your
                device, do not contain viruses, Trojans
                or other malicious software. The information stored in the cookie is tied to the specific device used.
                However, this does not mean that we are immediately aware of your identity. In part, cookies are used to
                make the use of our service
                more pleasant for you. For example, we use what are known as session cookies to detect that you have
                already visited individual pages on our website or that you have already logged in to your user account.
                These are automatically deleted
                after you leave our website. In addition, to ensure user-friendliness we also use temporary cookies,
                which are stored on your device for a specific period of time. If you visit our website again to use our
                services, it is automatically
                detected that you have already visited us, as well as what information you entered and the settings you
                used, so that you do not have to reenter them.</li>
            <li>If you already have an account and are logged in or activate the "Stay logged in" feature, the
                information stored in cookies will be added to your user account.</li>
            <li>On the other hand, we use cookies to statistically record the use of our website, to optimize our
                services, and to display information tailored to your specific needs. These cookies enable us to
                automatically detect that you have previously
                visited us when you return to our website. These cookies are automatically deleted after a defined
                period of time. Most browsers accept cookies automatically. You can configure your browser so that no
                cookies are stored on your computer
                or to make sure that a message always appears before a new cookie is created. In case, you wish to
                delete the cookies that have been accepted by your browser, you can contact the help sections of your
                browser.
                <p>For the Chrome web browser, please visit this page from Google:<br>
                    <a
                        href="https://support.google.com/accounts/answer/32050" target="_blank">https://support.google.com/accounts/answer/32050</a>
                </p>
                <p>For the Internet Explorer web browser, please visit this page from Microsoft: <br><a
                        href="http://support.microsoft.com/kb/278835" target="_blank">http://support.microsoft.com/kb/278835</a> </p>
                <p>For the Firefox web browser, please visit this page from Mozilla: <br><a
                        href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank">https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a>
                </p>
                <p>For the Safari web browser, please visit this page from Apple: <br><a
                        href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac" target="_blank">https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a>
                </p>
                <p>For any other web browser, please visit your web browser's official web pages. However, disabling
                    cookies completely may mean that you will not be able to use all the features of our website. The
                    storage period of cookies depends on their
                    purpose and therefore varies. Here are the purposes for which the Company may use the cookies.</p>

                <ul class="listStyle">
                    <li><strong>Cookies</strong>: Necessary cookies allow us to offer you the best possible experience
                        when accessing and navigating through our website and using its features. For example, these
                        cookies let us recognize that you have created
                        an account and have logged into that account to access the content. The website requires the
                        said cookies the most for the purpose of serving the users with the best services. </li>
                    <li><strong>Functionality Cookies</strong>: Functionality cookies allow the website to operate the
                        Website and Services in accordance with the choices the user makes. Such cookies assist the
                        users in getting the most suitable choices.
                        For example, we will recognize your username and remember how you customized the Website and
                        Services during future visits.</li>
                    <li><strong>Analytical Cookies:</strong> These cookies enable us and third-party services to collect
                        aggregated data for statistical purposes on how our visitors use the Website. These cookies do
                        not contain personal information such as
                        names and email addresses and are used to help us improve your user experience of the Website.
                        The information generated by the cookies is related to your use of this website, such as browser
                        type/version, operating system used,
                        Referrer URL (the previously visited page), hostname of the accessing computer (IP address),
                        time of server request etc. is transmitted to a Google server in the US and stored there. Google
                        complies with the Privacy Policy of the
                        US Privacy Shield and is registered with the U.S. Department of Commerce's US Privacy Shield
                        Program. Google is processing on behalf of us. To know more about the cookies used in the
                        analytical tools, click here. </li>
                    <li><strong>Advertising Cookies:</strong> Advertising cookies allow us and third parties serve
                        relevant ads to you more effectively and help us collect aggregated audit data, research, and
                        performance reporting for advertisers. They also
                        enable us to understand and improve the delivery of ads to you and know when certain ads have
                        been shown to you. Your web browser may request advertisements directly from ad network servers,
                        these networks can view, edit, or set
                        their own cookies, just as if you had requested a web page from their website. Although we do
                        not use cookies to create a profile of your browsing behavior on third party websites, we do use
                        aggregated data from third parties to
                        show you relevant, interest-based advertising. To know more about interest-based advertising,
                        click here</li>
                    <li><strong>Media Cookies:</strong> Third party cookies from social media sites (such as Facebook,
                        Twitter, etc) allows us to track social network users when they visit or use the Website and
                        Services, or share content, by using a tagging
                        mechanism provided by those social networks. These cookies are also used for event tracking and
                        remarketing purposes. Any data collected with these tags will be used in accordance with our and
                        social networks’ privacy policies.
                        We will not collect or share any personally identifiable information from the user.</li>
                    <li>the top-level domain of your logged-in Google account</li>
                    <li>the user domain you manage on Google (hosted domain, HD)</li>
                    <ol type="a">
                        <li>The collection of the aforementioned data and its transmission to our providers is a
                            pre-contractual step that is required to enter into the contract with your respective
                            provider (Article 6 (1) (b) GDPR).</li>
                        <li>If you don’t like the idea of cookies or certain types of cookies, you can change your
                            browser’s settings to delete cookies that have already been set and to not accept new
                            cookies. To learn more about how to do this, visit internetcookies.com
                            Please note, that if you delete cookies or do not accept them, you might not be able to use
                            all of the features the Website and Services offer.</li>
                        <li>The Terms and policies of the Website/Mobile App shall be updated time to time that shall be
                            updated upon the Website/Mobile App at regular basis. The user shall have to keep itself
                            updated for the same. An updated version of this
                            Policy will be effective immediately upon the posting of the revised Policy unless otherwise
                            specified. Your continued use of the Website and Services after the effective date of the
                            revised Policy (or such other act specified
                            at that time) will constitute your consent to those changes.</li>
                        <li>By taping on the ‘accept’, the user acknowledges that the user have read this Policy and
                            agree to all its terms and conditions. By accessing and using the Website and Services, the
                            user agrees to be bound by this Policy. If the
                            user does not agree to abide by the terms of this Policy, the user is not authorized to
                            access or use the Website and Services.</li>
                        <li>In case, the user has any questions, concerns, or complaints regarding this Policy or to
                            know more about the use of cookies, please <a
                                href="https://podsliving.ca/contactus">click here</a>
                        </li>
                    </ol>
                </ul>
            </li>
        </ol>
    </article>
</div>
<!-- </div> -->