<!-- <div class="tab-pane active" id="disclaimer"> -->
    <div class="mt-70">
        <h2>Prohibited actions:</h2>
    
        <ol>
            <li>User is restrained from allowing any person other than the authorized person(s) named in the registration form to use the Service.</li>
            <li>The User undertakes not to resell or assign his/her/their/its rights or obligations under these Terms &amp; Conditions. User also agrees not to make any unauthorized commercial use of the Service.</li>
            <li>The User shall use the Service only for the purpose for which it is subscribed.</li>
            <li>The User shall comply with all applicable laws (and shall not contravene any applicable law) of India relating to the Services, including any regulation made pursuant thereto.</li>
            <li>The User shall not print, download, duplicate or otherwise copy, delete, vary or amend or use any data or personal information posted by any User on Site except such data and information which is posted by the particular User himself/itself.</li>
            <li>The User shall not use the Service for any unlawful and fraudulent purpose including without limitation criminal purposes.</li>
            <li>The Service shall not be used to send or receive any message, which is offensive on moral, religious, racial or political grounds or of abusive, indecent, obscene, defamatory or menacing nature.</li>
            <li>The User is prohibited from postings any information or content on Site, which directly or indirectly cause any threat or/and harassment or/and annoyance or/and anxiety or/and any other inconvenience of whatsoever nature.</li>
            <li>The User shall not infringe intellectual property rights of any person/party and/or retain information in any computer system or otherwise with an intention to do so.</li>
            <li>The User agrees not to make use of anyone else's information other than as necessary to complete any transactions in which User is involved.</li>
            <li>The User shall not violate, or attempt to violate the security of the Site and/or any web sites linked to name of the website or gain un-authorized access any information regarded as private by other User(s) or persons, including but without limitation
                to accessing data and information not intended for them or logging onto a server or account which the User is not authorized to access, attempting to probe, scan or test the vulnerability of a system or network or attempting to breach security
                or authentication.</li>
            <li>The User shall be prohibited to introduce, post or transmit any information or software, which contains a virus, worm or other harmful component into the internet or Site network system.</li>
            <li>In the event that the User breaches any of the above mentioned covenants, the Company shall have the right to delete any material relating to the violations. The Company reserves the unilateral right to suspend or/and deactivate the User's access
                to the Site Service and/or any other related facility in case of violation of terms of use. In addition to the right to indemnity available to the Company, the Company shall have the right to recourse to any legal remedy against the User to
                recover the loss suffered by the Company and the harm caused to the reputation of the Company, due to such violation by the User.</li>
            <li>In the event that the User breaches terms of use of service, the Company reserves the unilateral right to suspend or/and deactivate the User's access to the Site Service and/or any other related facility. Further Company at its sole discretion,
                permanently or temporarily, blacklist a User. The unutilized amount paid towards the service being the agreed quantum of liquidated damages shall stand forfeited by the Company. In addition to the right to indemnity available to the Company,
                the Company shall have the right to recourse to any legal remedy against the User to recover the loss suffered by the Company and the harm caused to the reputation of the Company, due to violation by the User.</li>
            <li>The Users shall avail Services on the website or any other related site for lawful purposes alone. Transmission or/and distribution or/and storage of material or/and conduct in violation of any applicable local or/and state or/and Central or/and
                foreign law or/and regulation is prohibited. This includes without limitation any unauthorized use of material protected by patent or/and copyright or/and trademark or/and other intellectual property right, material that is obscene or/and
                defamatory or/and libelous or/and constitutes an illegal threat, or/and violates rights of privacy or publicity, or/and violates export control laws. The User may use the information on our site only to the extent necessary to facilitate the
                related transactions.</li>
            <li>Company strongly opposes SPAM, which floods the Internet with unwanted and unsolicited email and deteriorates the performance and availability of the website. All forms of SPAM, or any other activities that have the effect of facilitating SPAM,
                are strictly prohibited.</li>
            <li>Company also prohibits the use of another internet service to send or post SPAM to drive visitors to your site hosted on or through Company website, whether or not the messages were originated by you, under your direction, or by or under the direction
                of a related or unrelated third party.</li>
            <li>You shall not use any "deep-link", "page-scrape", "robot", "spider" or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Site or any Content,
                or in any way reproduce or circumvent the navigational structure or presentation of the Site or any Content, to obtain or attempt to obtain any materials, documents or information through any means not otherwise made available through the
                Platform. We reserve our right to bar any such activity.</li>
            <li>You shall not attempt to gain unauthorized access to any portion or feature of the Platform, or any other systems or networks connected to the Platform or to any server, computer, network, or to any of the services offered on or through the Platform,
                by hacking, password "mining" or any other illegitimate means.</li>
            <li>You shall not engage in advertising to, or solicitation of, other Users of the Platform to buy or sell any services, including, but not limited to, services related to that being displayed on the Site or related to us.</li>
            <li>The Content posted does not necessarily reflect Company views. In no event shall Company assume or have any responsibility or liability for any Content posted or for any claims, damages or losses resulting from use of Content and/or appearance
                of Content on the Site. You hereby represent and warrant that You have all necessary rights in and to all Content which You provide and all information it contains and that such Content shall not infringe any proprietary or other rights of
                third parties or contain any libelous, tortious, or otherwise unlawful information.</li>
            <li>You agree that You shall not host, display, upload, modify, publish, transmit, update or share any information on the Site, that:
                <ol>
                    <li>belongs to another person and to which the user does not have any right;</li>
                    <li>is defamatory, obscene, pornographic, pedophilic, invasive of another's privacy, including bodily privacy, insulting or harassing on the basis of gender, libelous, racially or ethnically objectionable, relating or encouraging money laundering
                        or gambling, or otherwise inconsistent with or contrary to the laws in force;</li>
                    <li>is harmful to Child,</li>
                    <li>infringes any patent, trademark, copyright or other proprietary rights;</li>
                    <li>violates any law for the time being in force;</li>
                    <li>deceives or misleads the addressee about the origin of the message or knowingly and intentionally communicates any information which is patently false or misleading in nature but may reasonably be perceived as a fact;</li>
                    <li>impersonates another person;</li>
                    <li>threatens the unity, integrity, defense, security or Sovereignty of Canada, friendly relations with foreign States, or public order, or causes incitement to the commission of any cognizable offence or prevents investigation of any offence
                        or is insulting any foreign States;</li>
                    <li>contains software virus or any other computer code, file or program designed to interrupt, destroy or limit the functionality of any computer resource;</li>
                    <li>is patently false and untrue, and is written or published in any form, with the intent to mislead or harass a person, entity or agency for financial gain or to cause</li>
                    <li>The user shall not use, upload, post, email, send, transmit, or otherwise make available (in particular towards other users), or have others make available on the Websites, any contents that violate laws and statutes in any manner (illegal
                        contents), such as, but not limited to:</li>
                    <li>Contents breaching third-party rights - e.g. copyright, performance, and commercial property rights such as brands, patents, registered designs, design rights, and also other rights, for example name and personality rights;</li>
                    <li>contents which are insulting or defamatory, regardless of whether said contents are directed at Company personnel, other companies, or another user;</li>
    
                    <li>contents and actions violating criminal law, promoting anti-constitutional organizations or displaying the insignia of such organizations; contents glorifying violence; racist, pornographic, sexist contents; contents harmful to young persons;
                        contents trafficking in narcotics, inciting or downplaying the consumption of narcotics, inciting criminal offenses, gambling, insult or slander, defamation, etc.;</li>
                    <li>contents promoting any commercial practices considered unfair competition, including progressive customer acquisition practices (such as chain distribution systems, multilevel selling, or pyramid sales);</li>
                    <li>contents annoying, pestering, or harassing any other user;</li>
                    <li>contents which include information for which the user has no right to disclose or make available under any law or under contractual or fiduciary relationships (such as proprietary and confidential information, insider information, etc.);
                    </li>
                    <li>contents that contain company logos. This excludes employees of Company, who may use the Company's logo;</li>
                    <li>contents intended to disrupt, destroy, limit, or impair services on the Website or the functionality of any computer software or hardware or telecommunications equipment, in particular through robots, spiders, spamming, DOS attacks, chain
                        mail, junk mail, scripts, etc.</li>
                    <li>When using such services, the user shall adhere to all Company Networking, Forum, Content, Event, and Activity Guidelines as amended from time to time. Such guidelines are available on the Website.</li>
                    <li>In the event Company has good reason to believe that the user has breached his/her/their obligations under this Section, the user agrees that Company shall be entitled to review the user’s personal data, communication and networking, however,
                        only to the extent as required to verify such breach.</li>
                </ol>
            </li>
        </ol>
    </div>
    <!-- </div> -->