<!-- <div class="tab-pane active" id="dcma-policy"> -->
    <div class="mt-70">
        <h2>Disclosure of information to third party:</h2>
        <ol>
            <li><strong>THIRD PARTY APPLICATION</strong>
                <ol>
                    <li>Sharing With Your Consent or at Your Direction: Where you provide consent, we share your information as described at the time of consent, such as when authorizing a third-party application or website to access your account with PodsLiving
                        (website and/or mobile application) or participating in promotional activities by website partners or third parties.</li>
                    <li>Where permissible with applicable law, we may use certain information about you, such as your email address, de-identify it, and share it with social media platforms, to generate leads, drive traffic to website or otherwise promote our
                        products and services.</li>
                    <li>Information You Publish in Profiles, Listings, and other Public Information: You can make certain information publicly visible to others, such as, your public profile page, which includes your profile photo, first name, description, and
                        city.
                    </li>
                </ol>
            </li>
            <li><strong>REVIEWS, RATINGS AND OTHER PUBLIC FEEDBACK</strong>
                <ol>
                    <li>Content in a community or discussion forum, blog or social media post: We may display parts of your public profile and other content you make available to the public like Listing details on third-party sites, platforms and apps.</li>
                    <li>Information you share publicly on the website Platform may be indexed through third-party</li>
                    <li>Search engines: In some cases, you may opt-out of this feature in your account settings.</li>
                </ol>
            </li>
            <li><strong>COMPLYING WITH LAW, RESPONDING TO LEGAL REQUESTS, PREVENTING HARM AND PROTECTING OUR RIGHTS</strong>
                <ol>
                    <li>We may disclose your information to courts, law enforcement, governmental or public authorities, tax authorities, or authorized third parties, if and to the extent we are required or permitted to do so by law or where disclosure is reasonably
                        necessary:
                        <ol>
                            <li>to comply with our legal obligations,</li>
                            <li>to comply with a valid legal request or to respond to claims asserted against website,</li>
                            <li>to respond to a valid legal request relating to a criminal investigation to address alleged or suspected illegal activity, or to respond to or address any other activity that may expose us, you, or any other of our users to legal
                                or regulatory liability,</li>
                            <li>to enforce and administer our agreements with Members, or</li>
                            <li>to protect the rights, property or personal safety of website, its employees, its members, or members of the public.</li>
                        </ol>
                    </li>
                    <li>Where appropriate, we may notify Members about legal requests unless:
                        <ol>
                            <li>a)providing notice is prohibited by the legal process itself, by court order we receive, or </li>
                            <li>by applicable law, or </li>
                            <li>we believe that providing notice would be futile, ineffective, create a risk of injury or bodily harm to an individual or group, or create or increase a risk of fraud upon or harm to company, our Members, or expose company to a
                                claim of obstruction of justice.</li>
                        </ol>
                    </li>
                    <li>For jurisdictions where company facilitates the collection and remittance of Taxes where legally permissible according to applicable law, we may disclose Hosts' and Guests' information about transactions, Accommodations and occupancy Taxes
                        to the applicable tax authority, such as Host and Guest names, Listing addresses, transaction dates and amounts, tax identification number(s), the amount of taxes received (or due) by Hosts from Guests, and contact information.</li>
                    <li>In jurisdictions where company facilitates or requires a registration, notification, permit, or license application of a Host with a local governmental authority through company in accordance with local law, we may share information of
                        participating Hosts with the relevant authority, both during the application process and, periodically thereafter, such as the Host's full name and contact details, Accommodation address, tax identification number, Listing details
                        etc. </li>
                </ol>
            </li>
            <li><strong>PROGRAMS WITH MANAGERS AND OWNERS</strong>
                <p>We may share personal information of Hosts and Guests such as booking information, and information related to compliance with applicable laws such as short-term rental laws with landlords, management companies, and/or property owners (the
                    “Building Management”), in order to facilitate programs with Building Management. For example, guest booking and personal information, including guest contact information, may be shared with the Building Management of the building, complex,
                    or community where a host lives and/or the listing is located, to facilitate hosting services, compliance with applicable laws, security, billing, and other services.</p>
            </li>
            <li><strong>SERVICE PROVIDERS</strong>
                <p>We share personal information with affiliated and unaffiliated service providers to help us run our business, including service providers that help us: (i) verify your identity or authenticate your identification documents, (ii) check information
                    against public databases, (iii) conduct background or police checks, fraud prevention, and risk assessment, (iv) perform product development, maintenance and debugging, (v) allow the provision of the website Services through third-party
                    platforms and software tools (e.g. through the integration with our APIs), (vi) provide customer service, advertising, or payments services, (vii) process, handle or assess insurance claims or similar claims, or (viii) facilitate non-profit
                    and charitable activities consistent with Company's mission. These providers are contractually bound to protect your personal information and have access to your personal information to perform these tasks.</p>
            </li>
            <li><strong>BUSINESS TRANSFERS</strong>
                <p>If Company undertakes or is involved in any merger, acquisition, reorganization, sale of assets, bankruptcy, or insolvency event, then we may sell, transfer or share some or all of our assets, including your information in connection with
                    such transaction or in contemplation of such transaction (e.g., due diligence). In this event, we will notify you before your personal information is transferred and becomes subject to a different privacy policy.</p>
            </li>
        </ol>
    
    </div>