i.dob-info,
i.pwd-info,
span.pwd-info {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  cursor: default;
}
i.dob-info[data]:hover:after {
  content: "You need to be 18 years older.";
  position: absolute;
  top: -40px;
  color: #fff;
  width: 182px;
  left: 8px;
  background: black;
  padding: 5px;
  border-radius: 5px;
}

select {
  height: 48px !important;
}
@media (max-width: 991px){
i.dob-info[data]:hover:after {
  top: -30px;
  left: unset;
  right: 0;
}
.avatar-upload .avatar-preview {
  width: 100px;
  height: 100px;
}
}