<form [formGroup]="contactInfoForm">
    <div class="
      row
      create-listing-form
      login-modal-form-wrapp
      p-0
      align-items-end
      mt-5
    ">
        <div class="col-md-12 form-block text-center">
            <div class="text-24 raleway mb-4 text-left">Contact Details</div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Phone Number</label>
                <div class="row multi-form-block phn-n-v">
                    <div class="col-md-3 w11">
                        <select nice-select class="w-100" [value]="dialingCode" [attr.data-value]="dialingCode" disabled>
              <option value="+1">{{ dialingCode }}</option>
              <option value="+91">{{ dialingCode }}</option>
              <option value="+60">{{ dialingCode }}</option>
            </select>
                    </div>
                    <div class="col-md-9 w2">
                        <div class="position-relative">
                            <input type="number" [value]="primaryMobile" readonly />
                            <span *ngIf="mobileVerified" class="green-text input-text">
                <img src="./assets/images/done.svg" alt="" /> Verified
              </span>
                            <a *ngIf="!mobileVerified" class="red-text input-text text-decoration-none"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Email</label>
                <div class="position-relative">
                    <input type="email" [value]="primaryEmail" readonly />
                    <span *ngIf="emailVerified" class="green-text input-text">
            <img src="./assets/images/done.svg" alt="" /> Verified
          </span>
                    <a *ngIf="!emailVerified" class="red-text input-text text-decoration-none cursor-pointer" (click)="sendEmailVerificationMail()">Verify</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 form-block" *ngIf="emailVerifyMailSuccess"></div>
        <div class="col-md-6 form-block" *ngIf="emailVerifyMailSuccess">
            <div class="text-success">
                <span>{{ emailVerificationMailMsg }}</span>
                <i class="close-icon fa fa-times" (click)="emailVerifyMailSuccess = !emailVerifyMailSuccess"></i>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Alternate Email</label>
                <div class="position-relative">
                    <input type="text" formControlName="alternate_email" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Alternate Contact Number</label>
                <div class="row multi-form-block phn-n-v">
                    <div class="col-md-3 w11">
                        <select nice-select class="w-100" [value]="alternateContactCode" [attr.data-value]="alternateContactCode" formControlName="alternate_dialing_coded">
              <option value="+1">+1</option>
              <option value="+91">+91</option>
              <option value="+60">+60</option>
            </select>
                    </div>
                    <div class="col-md-9 w2">
                        <input type="number" formControlName="alternate_phone" value="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-block">
                <label>Emergency Contact Name<span class="red-text">*</span></label>
                <div class="position-relative">
                    <input type="text" class="form-control" formControlName="emergency_contact_name" value="" [ngClass]="{
              'is-invalid':
                contactInfoFormControl.emergency_contact_name.errors &&
                (contactInfoFormControl.emergency_contact_name.dirty ||
                  contactInfoFormControl.emergency_contact_name.touched)
            }" />
                    <div *ngIf="contactInfoFormControl.emergency_contact_name.errors" class="error-msg">
                        {{ contactInfoFormControl.emergency_contact_name.errors.incorrect }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Emergency Contact Number<span class="red-text">*</span></label>
                <div class="row multi-form-block phn-n-v">
                    <div class="col-md-3 w11">
                        <select nice-select class="w-100 form-control" [value]="emergencyContactCode" [attr.data-value]="emergencyContactCode" formControlName="emergency_dialing_code" [ngClass]="{
                'is-invalid':
                  contactInfoFormControl.emergency_dialing_code.errors &&
                  (contactInfoFormControl.emergency_dialing_code.dirty ||
                    contactInfoFormControl.emergency_dialing_code.touched)
              }">
              <option value="+1">+1</option>
              <option value="+91">+91</option>
              <option value="+60">+60</option>
            </select>
                    </div>
                    <div class="col-md-9 w2">
                        <input type="number" class="form-control" formControlName="emergency_contact_number" [ngClass]="{
                'is-invalid':
                  contactInfoFormControl.emergency_contact_number.errors &&
                  (contactInfoFormControl.emergency_contact_number.dirty ||
                    contactInfoFormControl.emergency_contact_number.touched)
              }" />
                        <div *ngIf="contactInfoFormControl.emergency_contact_number.errors" class="error-msg">
                            {{ contactInfoFormControl.emergency_contact_number.errors.incorrect }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="
      row
      create-listing-form
      login-modal-form-wrapp
      p-0
      align-items-end
      mt-5
    ">
        <div class="col-md-12 form-block text-center">
            <div class="text-24 raleway mb-4 text-left">Permanent Address</div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Address Line 1<span class="red-text">*</span></label>
                <input type="text" class="form-control" formControlName="address_line_1" (input)="changeAddress()" ngx-google-places-autocomplete (onAddressChange)="handleAddressChange($event)" [ngClass]="{
            'is-invalid':
              contactInfoFormControl.address_line_1.errors &&
              (contactInfoFormControl.address_line_1.dirty ||
                contactInfoFormControl.address_line_1.touched)
          }" />
                <div *ngIf="contactInfoFormControl.address_line_1.errors" class="error-msg">
                    {{ contactInfoFormControl.address_line_1.errors.incorrect }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <div class="row">
                    <div class="col-6"><label>Address Line 2</label></div>
                    <div class="col-6 text-right mobile-left">
                        <span class="optional">Optional</span>
                    </div>
                </div>
                <div class="position-relative">
                    <input type="email" formControlName="address_line_2" value="" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>City<span class="red-text">*</span></label>
                <div class="position-relative">
                    <input type="text" class="form-control" formControlName="city" [ngClass]="{
              'is-invalid':
                contactInfoFormControl.city.errors &&
                (contactInfoFormControl.city.dirty ||
                  contactInfoFormControl.city.touched)
            }" value="" />
                    <div *ngIf="contactInfoFormControl.city.errors" class="error-msg">
                        {{ contactInfoFormControl.city.errors.incorrect }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>State/Province<span class="red-text">*</span></label>
                <div class="position-relative">
                    <input type="text" formControlName="state" class="form-control" [ngClass]="{
              'is-invalid':
                contactInfoFormControl.state.errors &&
                (contactInfoFormControl.state.dirty ||
                  contactInfoFormControl.state.touched)
            }" placeholder="State Name" />
                    <div *ngIf="contactInfoFormControl.state.errors" class="error-msg">
                        {{ contactInfoFormControl.state.errors.incorrect }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Zip Code/Postal Code<span class="red-text">*</span></label>
                <div class="position-relative">
                    <input type="text" formControlName="zipcode" class="form-control" [ngClass]="{
              'is-invalid':
                contactInfoFormControl.zipcode.errors &&
                (contactInfoFormControl.zipcode.dirty ||
                  contactInfoFormControl.zipcode.touched)
            }" value="" />
                    <div *ngIf="contactInfoFormControl.zipcode.errors" class="error-msg">
                        {{ contactInfoFormControl.zipcode.errors.incorrect }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <div class="row">
                    <div class="col-6"><label>Landmark</label></div>
                    <div class="col-6 text-right mobile-left">
                        <span class="optional">Optional</span>
                    </div>
                </div>
                <div class="position-relative">
                    <input type="text" formControlName="landmark" placeholder="State Name" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <label>Country<span class="red-text">*</span></label>
                <div class="position-relative">
                    <input type="text" class="form-control" formControlName="country" [ngClass]="{
              'is-invalid':
                contactInfoFormControl.country.errors &&
                (contactInfoFormControl.country.dirty ||
                  contactInfoFormControl.country.touched)
            }" />
                    <div *ngIf="contactInfoFormControl.country.errors" class="error-msg">
                        {{ contactInfoFormControl.country.errors.incorrect }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-block">
                <div class="row">
                    <div class="col-6"><label>County</label></div>
                    <div class="col-6 text-right mobile-left">
                        <span class="optional">Optional</span>
                    </div>
                </div>
                <div class="position-relative">
                    <input type="text" formControlName="county" />
                </div>
            </div>
        </div>
        <div class="col-md-12 mb-0  alert alert-success" *ngIf="showSuccessMsg">
            <div class="row">
                <div class="">
                    {{ successMsg }} <span class="cursor-pointer">
          <i class="close-icon fa fa-times"
            (click)="showSuccessMsg = false"
            aria-hidden="true"
          ></i>
        </span>
                </div>

            </div>
        </div>

        <div class="col-md-12 form-block mb-0">
            <div class="row">
                <div class="col-md-12 text-right">
                    <!-- <a href="create-a-listing.html" class="podsliving-button transparent">Back</a> -->
                    <button class="podsliving-button" (click)="saveChanges()" [disabled]="!contactInfoForm.valid" [ngClass]="{ 'button-disable': !contactInfoForm.valid }">
            Save Changes
          </button>
                </div>
            </div>
        </div>
    </div>
</form>