<div
  class="
    row
    create-listing-form
    login-modal-form-wrapp
    p-0
    align-items-end
    mt-5
  "
>
  <div class="col-md-10 form-block text-center">
    <div class="text-24 raleway mb-4 text-left">Government ID</div>
  </div>
  <!-- <div class="col-md-2 form-block">
    <i
      class="edit-icon fa fa-pencil"
      (click)="editableForm()"
      aria-hidden="true"
      *ngIf="!editable"
    ></i>
    <i
      *ngIf="editable"
      class="close-icon fa fa-times"
      (click)="viewOnlyForm()"
      aria-hidden="true"
    ></i>
  </div> -->

  <div class="col-md-12 form-block mb-5" *ngIf="!editable">
    <div class="row">
      <div class="col-md-5 form-block keep-front">{{ docTypeName }}</div>
      <div class="col-md-5 form-block keep-front">{{ maskedDocNumber }}</div>
      <div class="col-md-1 form-block keep-front">
        <span class="pwd-info" data="">
          <i
            class="edit-icon fa fa-eye cursor-pointer"
            (click)="getExternalImageFromURL()"
            href="docUrl"
            aria-hidden="true"
          ></i>
        </span>
      </div>
      <div class="col-md-1 form-block keep-front">
        <i
          class="edit-icon fa fa-pencil cursor-pointer"
          (click)="editableForm()"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 form-block mb-5 {{
          docVerified ? 'text-success' : 'red-text'
        }}"
      >
        {{
          docVerified == 1
            ? "Verified"
            : docVerified == 0
            ? "Awaiting for approval"
            : ""
        }}
      </div>
    </div>
  </div>
  <div class="col-md-12 form-block mb-5" *ngIf="editable">
    <form [formGroup]="govtIDForm">
      <div class="row">
        <div class="col-md-5 form-block keep-front">
          <label>Government ID Document Type</label>
          <select nice-select class="w-100" formControlName="documentType">
            <!-- [attr.disabled]="!editable ? '' : null" -->
            <option value="Passport">Passport</option>
            <option value="Aadhar Card">Aadhar card</option>
          </select>
        </div>
        <div class="col-md-5 form-block">
          <label>Document Number</label>
          <input
            type="text"
            [value]="!editable ? maskedDocNumber : ''"
            formControlName="documentNumber"
          />
          <!-- [readonly]="!editable" -->
        </div>
        <div class="col-md-2 form-block">
          <i
            *ngIf="docAvailable"
            class="close-icon fa fa-times cursor-pointer"
            (click)="viewOnlyForm()"
            aria-hidden="true"
          ></i>
        </div>
        <div class="col-md-5 form-block mb-0 keep-back">
          <!-- [ngClass]="editable ? '' : 'hidden'" -->
          <label>Upload Document</label>
          <div class="position-relative left-input-icon">
            <div class="file-upload">
              <div class="file-select">
                <div class="file-select-button" id="fileName_1">
                  <img
                    src="./assets/images/choose-file-blue.svg"
                    alt=""
                    class="upload-file-input-icon"
                  />
                </div>
                <div class="file-select-name blue-text" id="noFile_1">
                  Attach file
                </div>
                <input
                  type="file"
                  name="chooseFile"
                  id="chooseFile_1"
                  (change)="selectFile($event)"
                />
              </div>
            </div>
          </div>
          <div class="position-absolute">
            <label class="mt-1 p-1 d-inline">{{ fileName }}</label>
            <span class="cursor-pointer ml-5" *ngIf="fileName">
              <i
                class="close-icon fa fa-times"
                (click)="removeFile()"
                aria-hidden="true"
              ></i>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-12 form-block mb-0" *ngIf="editable">
    <div class="row">
      <div class="col-md-12">
        <!-- <a href="create-a-listing-contact-21.html" class="podsliving-button transparent">Back</a> -->
        <button
          class="podsliving-button"
          [ngClass]="{ 'button-disable': !govtIDForm.valid || !fileName }"
          (click)="saveChanges()"
        >
          Save Changes
        </button>
      </div>
    </div>
  </div>

  <div
    class="col-md-12 form-block mb-0 font-weight-bold text-success"
    *ngIf="showSuccessMsg"
  >
    <div class="row">
      <div class="pr-5 text-left p-0">
        {{ successMsg }}
      </div>
      <span class="cursor-pointer">
        <i
          class="close-icon fa fa-times"
          (click)="showSuccessMsg = false"
          aria-hidden="true"
        ></i>
      </span>
    </div>
  </div>

  <div class="col-md-12 gap-top-70">
    <!-- <a href="#" class="text-bold blue-text">Delete Account Permanently</a> -->
  </div>

  
</div>

<div class="row create-listing-form login-modal-form-wrapp p-0 align-items-end">
  <div class="col-md-12 form-block text-center mt-5">
    <div class="text-24 raleway mb-4 text-left">Verification</div>
  </div>
</div>
<form [formGroup]="kycForm">
  <div class="row create-listing-form login-modal-form-wrapp p-0">
    <div class="col-md-5 form-block" style="display: none">
      <label>User Id<span class="red-text">*</span></label>
      <input type="text" [attr.disabled]="true" formControlName="userid"
        class="form-control ng-pristine ng-valid ng-touched">
    </div>
    <div class="col-md-5 form-block">
      <label>Mobile<span class="red-text">*</span></label>
      <div class="row multi-form-block">
        <div class="col-md-3">
          <select nice-select class="w-100" 
          formControlName="dialing_code">
            <option value="+01">+01</option>
            <option value="+91">+91</option>
            <option value="+60">+60</option>
          </select>
        </div>
        <div class="col-md-9">
          <input
            type="number"
            formControlName="contact_number"
            value=""
          />
        </div>
      </div>
      <div class="row multi-form-block" *ngIf="(kycFormControl.dialing_code.errors && (kycFormControl.contact_number.dirty ||
      kycFormControl.contact_number.touched) || kycFormControl.contact_number.errors &&
        (kycFormControl.contact_number.dirty ||
          kycFormControl.contact_number.touched))" class="error-msg">
        Country code and Mobile number can not be empty
      </div>
    </div>
    <div class="col-md-5 form-block">
      <label>Name<span class="red-text">*</span></label>
      <input type="tel" formControlName="name" class="form-control ng-pristine ng-valid ng-touched">
    </div>
    <div class="col-md-5 form-block">
      <label>Country<span class="red-text">*</span></label>
      <select nice-select formControlName="country">
        <option *ngFor="let country of countries" value="{{country.key}}">{{country.label}}</option>
      </select>
      <div *ngIf="kycFormControl.country.errors" class="error-msg">
        Please select a country
      </div>
    </div>
    <div class="col-md-5 form-block" style="display: none">
      <label>Redirect URL<span class="red-text">*</span></label>
      <input type="url" [attr.disabled]="true" formControlName="redirectURL" class="form-control ng-pristine ng-valid ng-touched">
    </div>
    <div class="col-md-12">
      <div class="row">
        <!-- *ngIf="url" -->
        <div class="col-md-12 form-block"  >
          <label *ngIf="url">Verification Link<span class="red-text">*</span></label>
          <span *ngIf="url">{{url}}</span>
        </div>
        <!-- *ngIf="qrCode" -->
        <div class="col-md-3 form-block">
          <!-- <img alt='Embedded Image' src="{{qrCode}}" /> -->
          <img src="{{qrCode}}" alt="" *ngIf="qrCode" class="img-fluid" style="width: 100px; height: 100px;">
          <label class="small red-text" *ngIf="qrCode">(Scan a QR Code)</label>
        </div>
        <div class="col-md-7 text-right">
          <!-- <a href="create-a-listing.html" class="podsliving-button transparent">Back</a> -->
          <button class="podsliving-button" *ngIf="kycStatus!=1;else content"
          [ngClass]="{ 'button-disable': !kycForm.valid || !checkButtonEnabled }" (click)="save()">
            {{buttonText}}
          </button>
          <ng-template #content>
            <span class="green-text input-text">
              <img src="./assets/images/done.svg" alt="" /> Verified
            </span>
          </ng-template>
        </div>
      </div>
    </div>

  </div>






  <div class="col-md-12 gap-top-70">
    <!-- <a href="#" class="text-bold blue-text">Delete Account Permanently</a> -->
  </div>
</form>
