<!-- <div class="tab-pane active" id="acceptable-policy"> -->
    <div class="mt-70">
        <article>
            <h2>Internet based advertising &amp; Product Recommendations:</h2>
            <ol>
                <li>In order for you to receive information that is likely to be of interest to you, we categorize your user profile. To do so, we use information about your searches to customize the newsletter articles and promotional emails we send you. The
                    goal is to send you advertising that is oriented towards your actual needs and to avoid sending unnecessary advertising.</li>
                <li>We send you emails which contain product recommendations. You will receive these product recommendations regardless of whether you have subscribed to a newsletter. We do so in order to provide you with information about products from our offerings
                    that may interest you based on your recent searches.</li>
                <li>Our emails may contain a "web beacon" (or "tracking pixel") to tell us whether our emails are opened and verify any clicks through to links or advertisements within the email.</li>
                <li>We may use this information for purposes including determining which of our emails are more interesting to users and to query whether users who do not open our emails wish to continue receiving them.</li>
                <li>The pixel will be deleted when you delete the email. If you do not wish the pixel to be downloaded to your device, you should read the email in plain text view or with images disabled.</li>
                <li>The legal basis for the aforementioned processing is Article 6 (1) (f) GDPR. Processing existing customer data this way for advertising purposes is deemed to be a legitimate interest.</li>
                <li>You have the right, at any time and at no charge, to object to data processing for the aforementioned purposes, separately for each respective communication channel, and with effect for the future. To do so, you need only send an email to
                    <a href="mailto:dataprocessing@podsliving.ca">dataprocessing@podsliving.ca</a> or send a letter to the company address mentioned in contact us. If you do not want to receive product recommendations from us, you can let us know at any
                    time, you can go to the contact us <a href="https://podsliving.ca/contactus">here</a> or you can click on the unsubscribe link at the end of every email.</li>
                <li>In the event that you object, the relevant contact address will be blocked for further promotional processing. We point out that, in exceptional cases, advertising material may temporarily continue to be sent to you even after your objection
                    has been received. This is due to technical reasons related to the lead time required for advertisements and does not mean that your objection will not be observed by us. Thank you for your understanding.</li>
            </ol>
        </article>
    </div>
    <!-- </div> -->