<div class="sub-page-wrapp mt-70">
  <div class="container">
      <div class="row">
          <div class="col-md-12 mt-5 mx-auto">
              <div class="row">
                  <div class="col-md-12">
                      <h2 class="mb-2">Your Booking is Confirmed!</h2>
                      <div class="gray-text mb-3">Booking ID 2244</div>
                  </div>
                  <div class="col-md-8">
                      <div class="confirm-booking-carousel owl-carousel mb-3">
                          <div class="confirm-booking-carousel-block">
                              <img src="/assets/images/confm-booking.png" alt="">
                          </div>
                          <div class="confirm-booking-carousel-block">
                              <img src="/assets/images/confm-booking.png" alt="">
                          </div>
                          <div class="confirm-booking-carousel-block">
                              <img src="/assets/images/confm-booking.png" alt="">
                          </div>
                      </div>
                      <h3>Private room in bed and breakfast in Toronto</h3>
                      <div class="mt-1">4 Guests • 2 Bedrooms • 2 Beds • 1 Bathroom</div>
                      <div class="row mt-4 font-w-bold">
                          <div class="col-md-6">
                              <div class="border-link">
                                  <a href="#"><img src="/assets/images/get-directions.svg" alt="">Get Directions</a>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="border-link">
                                  <a href="#"><img src="/assets/images/message-host.svg" alt="">Message Host</a>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="border-link">
                                  <a href="#" class="border-bottom-0"><img src="/assets/images/copy-address.svg" alt="">Copy Address</a>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="border-link">
                                  <a href="#" class="border-bottom-0"><img src="/assets/images/call-host.svg" alt="">Call Host</a>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-5">
                          <div class="col-md-12">
                              <h3>Location</h3>
                              <div class="my-3">Erin Mills, Mississauga, Ontario, Canada</div>
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46270.90550383933!2d-79.74467634509121!3d43.54546781944104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b43c85bc3cb3d%3A0x7ca71a00f145bd55!2sErin%20Mills%2C%20Mississauga%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sin!4v1629346948861!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                          </div>
                      </div>
                      <div class="row mt-5">
                          <div class="col-md-12">
                              <h3 class="mb-3">What’s Nearby</h3>
                              <div class="nearby-wrapp d-flex justify-content-between">
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-1.svg" alt="">
                                          <div>Square One Shopping Centre</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-2.svg" alt="">
                                          <div>University of Toronto Mississauga</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-3.svg" alt="">
                                          <div>Paramount Fine Foods Centre</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-4.svg" alt="">
                                          <div>Living Arts Centre</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-1.svg" alt="">
                                          <div>Paramount Fine Foods Centre</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-2.svg" alt="">
                                          <div>University of Toronto Mississauga</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-3.svg" alt="">
                                          <div>Paramount Fine Foods Centre</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                                  <a href="#" class="nearby-block d-flex justify-content-between">
                                      <div class="d-flex">
                                          <img src="/assets/images/near-by-4.svg" alt="">
                                          <div>Living Arts Centre</div>
                                      </div>
                                      <div>5.1mi</div>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-5">
                          <div class="col-md-12">
                              <h3 class="mb-3">About Your Host</h3>
                              <div class="about-host-wrapp d-flex justify-content-between mb-3">
                                  <div class="about-host-info-block d-flex">
                                      <div class="about-host-image-block">
                                          <img src="/assets/images/testimonail.png" alt="">
                                      </div>
                                      <div>
                                          <div class="text-bold">Bashita Rahman</div>
                                          <div class="star-icon-block d-flex mt-2">
                                              <span>★</span>
                                              <span>★</span>
                                              <span>★</span>
                                              <span>★</span>
                                              <span class="disable">★</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="about-host-verified-block">
                                      <img src="/assets/images/verified-user.svg" alt="" class="mr-2">
                                      <span>Verified Host</span>
                                  </div>
                              </div>
                              <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                              <label class="text-bold mb-2">Send a Message to Bashita</label>
                              <textarea class="host-cmment" placeholder="Type Your Message…"></textarea>
                              <button class="podsliving-button mt-3">Send</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="border-block">
                          <div class="border-block-y">
                              <div class="row">
                                  <div class="col-md-8 pr-0">
                                      <div class="mb-1">1 night in Modern & Cozy House</div>
                                      <div class="gray-text">1 Room • 2 Adults • 1 Child</div>
                                  </div>
                                  <div class="col-md-4">
                                      <img src="/assets/images/payment-block.png" alt="" class="w-100">
                                  </div>
                              </div>
                          </div>
                          <div class="border-block-y">
                              <div><img src="/assets/images/date.svg" alt="" class="mr-2">Wed, Nov 3 - Thu, Nov 5</div>
                          </div>
                          <div class="border-block-y">
                          <div class="right-wrapp mt-3">
                              <div class="right-block d-flex justify-content-between">
                                  <div class="text-20 text-bold">Total</div>
                                  <div class="text-20 text-bold">USD 2,300</div>
                              </div>
                          </div>
                          </div>
                          <div class="border-block-y font-w-bold">
                              <div class="border-link">
                                  <a href="#"><img src="/assets/images/invoice-icon.svg" alt="">View Invoice</a>
                              </div>
                              <div class="border-link">
                                  <a href="#" class="border-bottom-0"><img src="/assets/images/download-icon.svg" alt="">Download Invoice</a>
                              </div>
                          </div>
                      </div>
                      <h3 class="mb-3 mt-4">Cancellation Policy</h3>
                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                      <a href="javascript:void(0);" class="blue-text text-bold" data-toggle="modal" data-target="#cancellation_policy">View Details</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>