<div class="row create-listing-form login-modal-form-wrapp theiaStickySidebar">
    <div class="prgress-bar percent-70"></div>
    <div class="
      col-md-12
      creat-listing-top-buttons-block
      d-flex
      align-items-center
      justify-content-between
      mb-4
    ">
        <a href="create-a-listing-xd-slide-18.html"><img src="./assets/images/back.svg" alt="" /></a>
        <a href="#" class="btn btn-outline-primary"><strong>Save & Exit</strong></a>
    </div>
    <div class="col-md-12 mb-4">
        <h2>Available For</h2>
    </div>

    <div class="
      col-md-12
      form-block
      d-flex
      align-items-center
      justify-content-between
      flex-input-block
      mb-3
    ">
        <div class="text-bold">Vacation Rental</div>
        <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    </div>

    <div class="col-md-12 form-block mb-4">
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
        </p>
    </div>

    <div class="
      col-md-12
      more-details-block
      d-flex
      align-items-center
      justify-content-between
      border-bottom-0
      form-block
    ">
        <div class="text-bold">Minimum Stay (in days)</div>
        <div id="field1">
            <button type="button" id="sub" class="sub">-</button>
            <input type="number" id="1" value="1" min="1" max="3" />
            <button type="button" id="add" class="add">+</button>
        </div>
    </div>

    <div class="col-md-12 form-block">
        <div class="d-flex align-items-center justify-content-between">
            <label>STR Number</label>
            <span class="gray-text">Optional</span>
        </div>
        <input type="text" />
    </div>

    <div class="col-md-12 form-block">
        <p>
            The short term rental (STR) number provided by Toronto Municipal will be required to list and book the property for less than 28 consecutive days.
        </p>
    </div>

    <div class="col-md-12 form-block">
        <div class="text-bold">
            Don’t have STR Number? <a href="#" class="blue-text">Apply Here</a>
        </div>
    </div>

    <div class="col-md-12 form-block">
        <div class="d-flex align-items-center justify-content-between">
            <label>HST Number</label>
            <span class="gray-text">Optional</span>
        </div>
        <input type="text" />
    </div>
    <div class="col-md-12 form-block mb-5">
        <div class="d-flex align-items-center justify-content-between">
            <label>GST Number</label>
            <span class="gray-text">Optional</span>
        </div>
        <input type="text" />
    </div>

    <!-- <div class="col-md-12 form-block d-flex align-items-center justify-content-between flex-input-block mb-3">
            <div class="text-bold">Long Term</div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>                                   
        </div>

        <div class="col-md-12 form-block mb-4">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>                                 
        </div>

        <div class="col-md-12 more-details-block d-flex align-items-center justify-content-between border-bottom-0 form-block">
            <div class="text-bold">Minimum Stay (in Months))</div>
            <div id="field1">
                <button type="button" id="sub" class="sub">-</button>
                <input type="number" id="1" value="1" min="1" max="3">
                <button type="button" id="add" class="add">+</button>
            </div>
        </div>

        <div class="col-md-12 form-block d-flex align-items-center justify-content-between flex-input-block mb-3">
            <div class="text-bold">Allow Sub Leasing</div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>                                   
        </div>

        <div class="col-md-12 form-block mb-4">
            <p>If turned on, you will allow your guest will be able to sub-lease the property to other guests</p>                                 
        </div>

        <div class="col-md-12 form-block d-flex align-items-center justify-content-between flex-input-block mb-3">
            <div class="text-bold">Set Appointment Time Slot</div>                                
        </div>

        <div class="col-md-12 form-block mb-4">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>                                 
        </div>

        <div class="col-md-12 form-block">
            <div class="form-slection-tabs-wrapp">
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="1" />
                    <label class="label-for-check" for="1">Mon</label>
                </div>
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="2" />
                    <label class="label-for-check" for="2">Tue</label>
                </div>
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="3" />
                    <label class="label-for-check" for="3">Wed</label>
                </div>
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="4" />
                    <label class="label-for-check" for="4">Thu</label>
                </div>
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="5" />
                    <label class="label-for-check" for="5">Fri</label>
                </div>
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="6" />
                    <label class="label-for-check" for="6">Sat</label>
                </div>
                <div class="selection-checkbox-block">
                    <input type="checkbox" class="check-with-label" id="7" />
                    <label class="label-for-check" for="7">Sun</label>
                </div>
            </div>
        </div>

        <div class="col-md-6 form-block">
            <input type="text" placeholder="From HH:MM">
        </div>

        <div class="col-md-6 form-block">
            <input type="text" placeholder="To HH:MM">
        </div>

        <div class="col-md-12 form-block d-flex align-items-center justify-content-between flex-input-block mb-3">
            <div class="text-bold">Additional questions to be asked from the Guest</div>                                
        </div>
        <div class="col-md-12 form-block mb-3">
            <p>Select the additional information that needs to be taken from the Guest besides their general details, booking details, government ID, etc.</p>                                 
        </div>
        <div class="col-md-12 form-block">
            <div class="checkbox-group">
                <input type="checkbox" id="additional_questions_1">
                <label for="additional_questions_1">What is their profession</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="additional_questions_2">
                <label for="additional_questions_2">Where do they work</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="additional_questions_3">
                <label for="additional_questions_3">What is their profession</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="additional_questions_4">
                <label for="additional_questions_4">Where do they work</label>
            </div>
        </div>

        <div class="col-md-12 form-block d-flex align-items-center justify-content-between flex-input-block mb-3">
            <div class="text-bold">Have the lease documents attested to by a notary</div>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>                                   
        </div>

        <div class="col-md-12 form-block mb-4">
            <p>Switching this on will enable to involve a lawyer to the process. This will include an additional fee.</p>                                 
        </div>

        <div class="col-md-12 form-block">
            <div class="text-bold mb-3">Lawyer Fee</div>  
            <div>
                <input type="radio" id="lawyer_fee_1" name="Lawyer Fee" checked="">
                <label for="lawyer_fee_1">Lorem ipsum</label>
            </div>
            <div>
                <input type="radio" id="lawyer_fee_2" name="Lawyer Fee" checked="">
                <label for="lawyer_fee_2">Lorem ipsum</label>
            </div>                                
        </div> -->

    <div class="col-md-12 form-block create-listing-submit-button-block">
        <a [routerLink]="['/host/property-listing/short-term/amenities']" class="podsliving-button">Next</a
    >
  </div>
</div>