<div class="mt-70">
    <article>
        <h2>Registration</h2>
        <p>Before signing up with the website, the user agrees, undertakes and acknowledges the registration policy.</p>
        <ol>
            <li>To sign up for the services, users must apply for registration by completing the registration procedure on the Website. By completing the registration procedure, the user consents to enter into this agreement to use the services. The Company
                accepts this offer by activating the user's membership and personal account.</li>
            <li>The user guarantees that the information submitted to the Company for registration is complete and truthful. The user shall not use pseudonyms or nicknames; however, Company may allow exemptions at its sole discretion. The user shall keep
                the user's profile up to date, in particular with regards to the user's email address. The user shall ensure that Company can establish contact at all times with the user via the contact details provided by the user in the user’s profile
                on the Website. However, the Company will preferably make any communication with the user via the user's personal Membership Section on the Website.</li>
            <li>The Company reserves the right to refuse registration of any user for any or no reason.</li>
            <li>The user hereby confirms that the user is of legal age at the time of registration and has not already registered with Company, i.e., only maintains one (1) user account.</li>
            <li>User accounts are not transferable.</li>
            <li>During registration, the user must determine a password which they will use to identify themselves to access the Website(s), the services, and the user's personal account. The user is responsible for keeping the password secret and preventing
                other persons from accessing the user's account via this password. The user agrees to notify the Company immediately of any unauthorized use of the user's password or account or any other breach of security through the contact form available
                on each Website under <a href="https://www.internations.org/about/contact/" target="_blank">Contact</a>. The user promises to immediately inform Company if there is any indication that the password is being used by third parties. The Company will not
                be liable for any loss or damage arising from the user's failure to properly comply with this section.</li>
            <li>As far as the user is in breach of the provisions in this Section, the Company shall be entitled to terminate this agreement for good cause with immediate effect, to block the user’s account and/or to prevent further use of the services and
                the website(s) by the user. Any other rights of the Company shall remain unaffected.</li>

        </ol>
        <p>Below are the details of various memberships and such other signing up information accordingly here.</p>
        <p><strong>Host</strong>: Host can register on {{domain.text}}  by visiting the site and initiating the registration process by clicking on “Login” and then selecting “Register”. Once the customer clicks on “Register”, on the next screen they can select
            to register as just a “Host” or both “Guest &amp; Host” by providing the requested information and following the instruction/prompts.</p>
        <p><strong>Guest</strong>: Guest can register on {{domain.text}}  by visiting the site and initiating the registration process by clicking on “Login” and then selecting “Register”. Once the customer clicks on “Register”, on the next screen they can
            select to register as just a “Guest” or both “Guest &amp; Host” by providing the requested information and following the instruction/prompts.</p>
        <p><strong>Partners</strong>: Partner can register on {{domain.text}}  by visiting the site and initiating the registration process by clicking on “Become a Partner” and then selecting “Register Now”. Once the customer clicks on “Register Now”, on
            the next screen provide the requested information and following the instruction/prompts.</p>
    </article>
</div>