<!-- <div class="tab-pane active" id="refund-policy"> -->
    <div class="mt-70">
        <article>
            <h2>Price, Payment &amp; Refund:</h2>
            <ol>
                <li>The applicable rate of the Service Fees for the service provided shall be as prescribed by PodsLiving INC. for the users (Host &amp; Guest) and shall be binding. The total amount shall be due immediately upon invoicing and can be affected
                    by any of the debiting procedures made available by the PodsLiving INC. The user is aware of the fact and agrees that in case of online payment procedures (i.e., payment via Credit Card, Debit Card, Crypto Currency and/or any other payment
                    means applicable) any data (e.g., name, credit card number, expiry date, bank details, etc.) which is necessary for the due processing of such payment will be transferred to third parties involved in the payment process (e.g., operator
                    of payment module, credit card acquirer, and the bank issuing the credit/debit card or any form of Payment processor).</li>
                <li>The user shall at all times provide sufficient funds to allow for collection of any fees in the course of the debiting procedures designated by the user. Any costs (such as bank charges etc.) triggered by the failure to do so shall be borne
                    by the user.</li>
    
                <li>The PodsLiving INC. reserves the right to amend the prices for future provisions of the services. Any price amendments shall become effective thirty (30) days after due notice by the Company of the amendment via the user’s email address and/or
                    by placing a notice in the user's personal inbox in his/her/their profile section of the Website. The user may terminate the agreement within fifteen (15) days of receiving the said notice by sending the notice of termination through the
                    contact form available on our website under <a href="https://podsliving.ca/contactus">Contact Us</a>.</li>
    
                <li>The user accepts that she/he/they will receive all invoices as PDF files via her/his/their personal profile/dashboard on the Website/Mobile App. The Company will not send a copy of the invoices by mail to the user.</li>
    
                <li>Payment for the services offered shall be on 100% upfront basis.</li>
    
                <li>PodsLiving INC. Services fees is non-refundable and any amount paid shall stand appropriated.</li>
    
                <li>Cancelation and Refund if any will be as per defined policies or at the sole discretion of PodsLiving INC.</li>
    
                <li>User acknowledges and agrees that the PodsLiving INC. at its sole discretion and without prejudice to other rights and remedies that it may have under the applicable laws, shall be entitled to set off the amount paid by a user, against any
                    amount(s) payable by user to the Company under any other agreement or commercial relationship towards other products/services.</li>
    
                <li>The Company offers no guarantees whatsoever for the accuracy or timeliness of the refunds reaching the Subscribers card/bank accounts. This is on account of the multiple organizations involved in processing of online transactions, the problems
                    with Internet infrastructure and working days/holidays of financial institutions.</li>
            </ol>
        </article>
    </div>
    <!-- </div> -->