<div
  class="
    row
    create-listing-form
    login-modal-form-wrapp
    theiaStickySidebar
    y-auto
  "
>
  <div class="prgress-bar percent-100"></div>
  <!-- <div class="col-md-12 creat-listing-top-buttons-block d-flex align-items-center justify-content-between mb-4">
              <a href="create-a-listing-14.html"><img src="images/back.svg" alt=""></a>
              <a href="#" class="blue-text"><strong>Save & Exit</strong></a>
          </div> -->
  <div class="col-md-12 mb-4 text-center">
    <h2>
      Congratulations,<br />
      Your listing has be sent for approval
    </h2>
  </div>
  <div class="col-md-12 form-block text-center">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut.
    </p>
  </div>

  <div
    class="
      col-md-12
      form-block
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <a href="index.html" class="blue-text text-bold d-block mr-5"
      >Go to Homepage</a
    >
    <a href="#" class="blue-text text-bold">Go to Dashboard</a>
  </div>

  <div class="col-md-12 mb-4 text-center mt-5">
    <h2>Feature This Listing</h2>
  </div>

  <div class="col-md-12 form-block text-center">
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut.
    </p>
  </div>

  <div
    class="
      col-md-12
      form-block
      create-listing-submit-button-block
      d-flex
      align-items-center
      justify-content-center
    "
  >
    <a
      href="javascript:void(0);"
      class="podsliving-button"
      data-toggle="modal"
      data-target="#feature_listing"
      >Feature The Listing Now</a
    >
  </div>
</div>
