<div class="row create-listing-form login-modal-form-wrapp theiaStickySidebar">
    <div class="prgress-bar percent-70"></div>
    <div class="
      col-md-12
      creat-listing-top-buttons-block
      d-flex
      align-items-center
      justify-content-between
      mb-4
    ">
        <a href="create-a-listing-xd-slide-5.html"><img src="./assets/images/back.svg" alt="" /></a>
        <a href="#" class="btn btn-outline-primary"><strong>Save & Exit</strong></a>
    </div>
    <div class="col-md-12 mb-4">
        <h2>Peak Value Pricing</h2>
    </div>
    <div class="biglabel-block form-block col-md-12">
        <div class="text-24 mb-3">Peak Season</div>
        <div class="row">
            <div class="col-md-6">
                <label>From</label>
                <input type="date" />
            </div>
            <div class="col-md-6">
                <label>To</label>
                <input type="date" />
            </div>
            <div class="col-md-12 mt-3">
                <a href="#" class="add-more-text"><span>+</span> Add Another Peak Season</a
        >
      </div>
    </div>
  </div>
  <div class="biglabel-block form-block col-md-12">
    <div class="text-24 mb-3">Moderate Season</div>
    <div class="row">
      <div class="col-md-6">
        <label>From</label>
        <input type="date" />
      </div>
      <div class="col-md-6">
        <label>To</label>
        <input type="date" />
      </div>
      <div class="col-md-12 mt-3">
        <a href="#" class="add-more-text"
          ><span>+</span> Add Another Moderate Season</a
        >
      </div>
    </div>
  </div>
  <div class="biglabel-block form-block col-md-12">
    <div class="text-24 mb-3">Slow Season</div>
    <div class="row">
      <div class="col-md-6">
        <label>From</label>
        <input type="date" />
      </div>
      <div class="col-md-6">
        <label>To</label>
        <input type="date" />
      </div>
      <div class="col-md-12 mt-3">
        <a href="#" class="add-more-text"
          ><span>+</span> Add Another Slow Season</a
        >
      </div>
    </div>
  </div>
  <div
    class="
      col-md-12
      form-block
      create-listing-submit-button-block
      d-flex
      align-items-center
      justify-content-between
    "
  >
    <a href="#" class="podsliving-button transparent">Skip</a>
                <a [routerLink]="['/host/property-listing/short-term/short-term-pricing']" class="podsliving-button">Next</a
    >
  </div>
</div>