.edit-icon {
  top: 12px;
  position: absolute;
  right: -25px;
  cursor: pointer;
}

.close-icon {
  top: 12px;
  position: absolute;
  right: -25px;
  cursor: pointer;
}
.close-icon {
  top: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.error-msg {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
@media  (max-device-width : 991px) {
  .phn-n-v .col-md-3.w11{flex: 0 0 25%;  max-width: 25%;}
  .phn-n-v .col-md-9.w2{flex: 0 0 75%;  max-width: 75%;padding: 0px 15px;}
}