<div class="row create-listing-form login-modal-form-wrapp theiaStickySidebar">
    <div class="prgress-bar percent-10"></div>
    <div class="
      col-md-12
      creat-listing-top-buttons-block
      d-flex
      align-items-center
      justify-content-between
      mb-4
    ">
        <a href="create-a-listing-xd-slide-17.html"><img src="./assets/images/back.svg" alt="" /></a>
        <a href="#" class="btn btn-outline-primary"><strong>Save & Exit</strong></a>
    </div>
    <div class="col-md-12 mb-4">
        <h2>Location</h2>
    </div>

    <div class="col-md-12 form-block mb-4">
        <input id="pac-input" class="controls map-input-block" type="text" placeholder="Search Address, Zip Code" />
        <div id="map"></div>
    </div>

    <div class="col-md-12 form-block">
        <div class="text-24 raleway mb-3">Confirm Your Address</div>
    </div>
    <div class="col-md-12 form-block">
        <label>Address Line 1</label>
        <input type="text" value="Vasant Kunj, Block C" />
    </div>
    <div class="col-md-12 form-block">
        <div class="d-flex justify-content-between">
            <label>Address Line 2</label>
            <span class="gray-text">Optional</span>
        </div>
        <input type="text" value="2015, Rosewood Apartments" />
    </div>
    <div class="col-md-12 form-block">
        <label>City</label>
        <input type="text" value="Toronto" />
    </div>
    <div class="col-md-12 form-block">
        <label>State</label>
        <input type="text" placeholder="State Name" />
    </div>
    <div class="col-md-12 form-block">
        <label>Postal Code</label>
        <input type="text" value="110070" />
    </div>
    <div class="col-md-12 form-block">
        <label>Country/Region</label>
        <input type="text" value="Canada - CA" />
    </div>

    <div class="col-md-12 form-block">
        <label>Timezone</label>
        <select>
      <option value="">UTC-03:30 Newfoundland Time Zone</option>
      <option value="">UTC-03:30 Newfoundland Time Zone</option>
      <option value="">UTC-03:30 Newfoundland Time Zone</option>
    </select>
    </div>

    <div class="col-md-12 form-block create-listing-submit-button-block">
        <a [routerLink]="['/host/property-listing/short-term/available-for']" class="podsliving-button">Next</a
    >
  </div>
</div>