<div class="row create-listing-form login-modal-form-wrapp theiaStickySidebar">
    <div class="prgress-bar percent-70"></div>
    <div class="
      col-md-12
      creat-listing-top-buttons-block
      d-flex
      align-items-center
      justify-content-between
      mb-4
    ">
        <a href="create-a-listing-xd-slide-7.html"><img src="./assets/images/back.svg" alt="" /></a>
        <a href="#" class="btn btn-outline-primary"><strong>Save & Exit</strong></a>
    </div>
    <div class="col-md-12 mb-4">
        <h2>Long Term Pricing</h2>
    </div>

    <div class="col-md-12 form-block">
        <label>Monthly Price</label>
        <input type="text" value="4,000" />
    </div>

    <div class="col-md-12 form-block">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingsix">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
              <div class="collpsd-cnt">Set Quarterly Pricing</div>
              <div class="normal-cnt">Quarterly Pricing</div>
            </button>
                    </h5>
                </div>

                <div id="collapseSix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-block">
                            <label>Enter Amount</label>
                            <input type="text" value="4,000" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="collpsd-cnt">Set Half Yearly Pricing</div>
              <div class="normal-cnt">Half Yearly Pricing</div>
            </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-block">
                            <label>Enter Amount</label>
                            <input type="text" value="4,000" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="collpsd-cnt">Set Yearly Pricing</div>
              <div class="normal-cnt">Yearly Pricing</div>
            </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-block">
                            <label>Enter Amount</label>
                            <input type="text" value="4,000" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="collpsd-cnt">Add Cleaning Fee</div>
              <div class="normal-cnt">Cleaning Fee</div>
            </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-block">
                            <label>Enter Amount</label>
                            <input type="text" value="4,000" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              <div class="collpsd-cnt">Add Security Deposit</div>
              <div class="normal-cnt">Security Deposit</div>
            </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        <div class="form-block">
                            <label>Enter Amount</label>
                            <input type="text" value="4,000" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 form-block create-listing-submit-button-block">
        <a [routerLink]="['/host/property-listing/short-term/set-cancellation-policy']" class="podsliving-button">Next</a
    >
  </div>
</div>