<!-- <div class="tab-pane active" id="cancellation-policy"> -->
    <div class="mt-70">
        <article>
            <h2>Intellectual Property Rights</h2>
            <p>Unless expressly agreed to in writing, nothing contained herein shall give the User a right to use any of the Site's trade names, trademarks, service marks, logos, domain names, information, questions, answers, solutions, reports and other distinctive
                brand features, save according to the provisions of these Terms. All logos, trademarks, brand names, service marks, domain names, including material, designs, and graphics created by and developed by the Site and other distinctive brand features
                of the Site are the property of the Company. Furthermore, with respect to the Site created by the Company, the Company shall be the exclusive owner of all the designs, graphics and the like, related to the Site.
            </p>
            <p>The Company believes in zero tolerance policy. Hence, if the user finds any data or information provided upon the website inappropriate or infringing the copyright or any other intellectual property rights, the user may contact the Company through
                its contact us page and report the same, the Company shall if finds necessary and valid, make necessary investigation and shall take required measures for the same.</p>
    
        </article>
    </div>
    <!-- </div> -->