<form class="w-100" [formGroup]="propertySpaceTypeForm">
    <div class="row create-listing-form login-modal-form-wrapp theiaStickySidebar">
        <div class="prgress-bar percent-5"></div>
        <div class="
        col-md-12
        creat-listing-top-buttons-block
        d-flex
        align-items-center
        justify-content-between
        mb-4
      ">
            <a [routerLink]="['/host/property-listing/short-term/title']" [queryParams]="{proId: pro_idd}"><img src="./assets/images/back.svg" alt="" /></a>
            <a (click)="saveAndExit()" [ngClass]="{ 'button-disable': !propertySpaceTypeForm.valid }" class="btn btn-outline-primary"><strong>Save & Exit</strong></a>
        </div>
        <div class="col-md-12 mb-3 mt-4">
            <h2>Type of Space</h2>
        </div>

        <div class="col-md-12 type-of-space-block-wrapp d-flex align-items-center mb-4">
            <ng-container *ngFor="let spaceType of typeOfSpace">
                <label class="radio-img type-spc-block">
          <input
            type="radio"
            name="category_id"
            id="{{spaceType.category_id}}"
            formControlName="category_id"
            class="form-control"
            [ngClass]="{
              'is-invalid':
              propertyInfoFormControl.category_id.errors &&
              (propertyInfoFormControl.category_id.dirty ||
              propertyInfoFormControl.category_id.touched)
            }"
            [value]="spaceType.category_id"
          />
          <div
            class="
              type-of-space-block
              d-flex
              align-items-center
              type-of-property
              image
            "
          >
            <img src="{{ imageUrl + spaceType.cat_image }}" alt="" title="{{ spaceType.cat_name }}"/>
            <span>{{ spaceType.cat_name }}</span>
          </div>
        </label>
            </ng-container>
            <div *ngIf="propertyInfoFormControl.category_id.errors" class="error-msg">
                {{ propertyInfoFormControl.category_id.errors.incorrect }}
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <h2>Property Type</h2>
        </div>
        <div class="col-md-12 type-of-space-block-wrapp d-flex align-items-center">
            <ng-container *ngFor="let propertyType of typeOfProperty">
                <label class="radio-img type-spc-block">
          <input
            type="radio"
            id="{{propertyType.category_id}}"
            name="property_type_id"
            formControlName="property_type_id"
            class="form-control"
            [ngClass]="{
              'is-invalid':
              propertyInfoFormControl.property_type_id.errors &&
              (propertyInfoFormControl.property_type_id.dirty ||
              propertyInfoFormControl.property_type_id.touched)
            }"
            [value]="propertyType.category_id"
          />
          <div
            class="
              type-of-space-block
              d-flex
              align-items-center
              type-of-property
              image
            "
          >
            <img src="{{ imageUrl + propertyType.cat_image }}" alt="" title="{{ propertyType.cat_name }}" />
            <span>{{ propertyType.cat_name }}</span>
          </div>
        </label>
            </ng-container>
            <div *ngIf="propertyInfoFormControl.category_id.errors" class="error-msg">
                {{ propertyInfoFormControl.category_id.errors.incorrect }}
            </div>
        </div>

        <div class="col-md-12 gap-top-50">
            <div class="type-space-alignment">
                <!-- Uncomment this when long term is also implemented -->
                <!-- <div
          class="
            lable-cnt-block
            d-flex
            align-items-center
            justify-content-between
            mb-3
            mt-5
          "
        >
          <div class="text-20 text-bold">
            Short Term
            <a
              tabindex="0"
              role="button"
              data-toggle="popover"
              data-trigger="focus"
              title=""
              data-content="And here's some amazing content. It's very engaging. Right?"
              data-original-title="Short Term"
            ></a>
          </div>
          <label class="switch">
            <input type="checkbox" formControlName="short_term" />
            <span class="slider round"></span>
          </label>
        </div> -->
                <!-- <div 
          class="
            lable-cnt-block
            d-flex
            align-items-center
            justify-content-between
            mb-4
          "
        >
          <div class="text-bold f-14">Minimum Stay (In Nights)</div>
          <div id="field1">
            <button type="button" (click)="removeNumber()" class="sub">
              &#8212;
            </button>
            <input
              type="number"
              formControlName="min_stay_in_night_for_str"
              min="1"
              max="60"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  propertyInfoFormControl.min_stay_in_night_for_str.errors &&
                  (propertyInfoFormControl.min_stay_in_night_for_str.dirty ||
                    propertyInfoFormControl.min_stay_in_night_for_str.touched)
              }"
            />
            <button type="button" (click)="addNumber()" class="add">+</button>
          </div>
        </div>
        <div
          *ngIf="propertyInfoFormControl.min_stay_in_night_for_str.errors"
          class="error-msg"
        >
          {{ propertyInfoFormControl.min_stay_in_night_for_str.errors.incorrect }}
        </div> -->
                <!-- this is required only if city is selected as toronto, need to uncomment when licencing is done for toronto -->
                <div class="lable-cnt-block mb-4" *ngIf="checkStrValidation()">
                    <div class="form-block mb-0">
                        <label>{{strLabel}}</label>
                        <input type="text" formControlName="str_number" placeholder="Based on property location STR is required before Publishing" class="form-control" [ngClass]="{
                'is-invalid':
                  propertyInfoFormControl.str_number.errors &&
                  (propertyInfoFormControl.str_number.dirty ||
                    propertyInfoFormControl.str_number.touched)
              }" />
                        <div *ngIf="propertyInfoFormControl.str_number.errors" class="error-msg">
                            {{ propertyInfoFormControl.str_number.errors.incorrect }}
                        </div>
                    </div>
                </div>
                <!-- THIS IS APPLICABLE FOR LONG TERM LISTING, NEED TO UNCOMMENT WHE LONG TERM IS IMPLEMENTED -->
                <!-- <div
          class="
            lable-cnt-block
            d-flex
            align-items-center
            justify-content-between
            mb-4
          "
        >
          <div class="text-20 text-bold">Long Term</div>
          <label class="switch">
            <input type="checkbox" formControlName="long_term" />
            <span class="slider round"></span>
          </label>
        </div>
        <div
          class="
            lable-cnt-block
            d-flex
            align-items-center
            justify-content-between
            mb-4
          "
        >
          <div class="text-bold f-14">Minimum Stay (in Months)</div>
          <div id="field1">
            <button type="button" (click)="removeNumber('months')" class="sub">
              &#8212;
            </button>
            <input
              type="number"
              id="1"
              min="0"
              max="3"
              formControlName="min_stay_in_month"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  propertyInfoFormControl.min_stay_in_month.errors &&
                  (propertyInfoFormControl.min_stay_in_month.dirty ||
                    propertyInfoFormControl.min_stay_in_month.touched)
              }"
            />
            <button type="button" (click)="addNumber('months')" class="add">
              +
            </button>
          </div>
        </div>
        <div
          *ngIf="propertyInfoFormControl.min_stay_in_month.errors"
          class="error-msg"
        >
          {{ propertyInfoFormControl.min_stay_in_month.errors.incorrect }}
        </div> -->
            </div>
        </div>

        <div class="col-md-12 form-block create-listing-submit-button-block">
            <button (click)="next()" [ngClass]="{ 'button-disable' : !propertySpaceTypeForm.valid }" class="podsliving-button">
        Next
      </button>
        </div>
    </div>
</form>